<div class="container mt-3">
    <div class="mt-3 mb-3">
        <a href="./" id="back-button">
            <i class="fa-solid fa-arrow-left"> Back</i>
        </a>
      </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Teachers Data</h1>
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>About</th>
                        <th>options</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                   
                </tbody>
            </table>

        </div>
    </div>
</div>


