<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h1>Exams Data</h1>
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th>Exam ID</th>
                        <th>Exam Name</th>
                        <th>Exam Date</th>
                        <th>Exam Time</th>
                        <th>generate</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                   
                </tbody>
            </table>

        </div>
    </div>
</div>

